<div class="home-body">
    <div class="left-bar">
        <div class="button-hdr">&nbsp;</div>
        <div class="btn">
            <button pButton type="button" label="View My Games"></button>
        </div>
        <div class="btn">
            <button pButton type="button" label="View All Games"></button>
        </div>
        <div class="btn bottom-btn">
            <button pButton type="button" label="Logout" (click)="logout()"></button>
        </div>
    </div>
    <div class="right-body">
        <div class="body-contents">
            <app-filter [(filters)]="filters"></app-filter>
            <app-gamelist [filters]="filters"></app-gamelist>
        </div>
    </div>
</div>