<div class="home-body">
    <div class="left-bar">
        <div class="button-hdr">&nbsp;</div>
        <div class="btn">
            <button pButton type="button" label="View My Games" (click)="showMyGames()" class="ui-button-secondary"></button>
        </div>
        <div class="btn">
            <button pButton type="button" label="View All Games" (click)="showAllGames()" class="ui-button-secondary"></button>
        </div>
        <div class="btn bottom-btn">
            <button pButton type="button" label="Logout" (click)="logout()" class="ui-button-secondary"></button>
        </div>
    </div>
    <div class="right-body">
        <div class="body-contents">
            <app-filter [(filters)]="filters"></app-filter>
            <app-gamelist [filters]="filters" [mygames]="myGames"></app-gamelist>
        </div>
    </div>
</div>