<div class="filter-panel">
    <div class="filter-row">
        <div class="filter-label">
            Game System
        </div>
        <div class="filter-options">
            <p-dropdown [options]="gameSystems" [(ngModel)]="gameSystem"></p-dropdown>
        </div>
    </div>
    <div class="filter-row">
        <div class="filter-label">
            Dungeon Master
        </div>
        <div class="filter-options">
            <p-dropdown [options]="dms" [(ngModel)]="dm"></p-dropdown>
        </div>
    </div>
    <div class="filter-row">
        <div class="filter-label">
            Day Range
        </div>
        <div class="filter-options">
                <p-dropdown [options]="days" [(ngModel)]="startDay"></p-dropdown>
                <p-dropdown [options]="days" [(ngModel)]="endDay"></p-dropdown>
        </div>
    </div>
    <div class="filter-row">
        <div class="filter-label">
            Time Range
        </div>
        <div class="filter-options">
            <p-dropdown [options]="times" [(ngModel)]="startTime"></p-dropdown>
            <p-dropdown [options]="times" [(ngModel)]="endTime"></p-dropdown>
        </div>
    </div>
</div>
