.filter-panel {}
.filter-row {
    display: block;
}

.filter-label {
    display: inline-block;
    width: 200px;
    text-align: right;
    padding-right: 5px;
}

.filter-options {
    display: inline-block;
}