/* Coolors Exported Palette - coolors.co/a682ff-715aff-5887ff-55c1ff-102e4a */

/* HSL */
// $color1: hsla(257%, 100%, 75%, 1);
// $color2: hsla(248%, 100%, 68%, 1);
// $color3: hsla(223%, 100%, 67%, 1);
// $color4: hsla(202%, 100%, 67%, 1);
// $color5: hsla(209%, 64%, 18%, 1);

/* RGB */
$color1: rgba(166, 130, 255, 1);
$color2: rgba(113, 90, 255, 1);
$color3: rgba(88, 135, 255, 1);
$color4: rgba(85, 193, 255, 1);
$color5: rgba(16, 46, 74, 1);

$fontColor1: rgba(255, 255, 255, 1);