<p-confirmDialog #cd header="Error" icon="pi pi-exclamation-triangle" appendTo="body">
    <p-footer>
        <button type="button" pButton icon="pi pi-check" label="OK" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>

<p-dialog header="Login" [(visible)]="displayLogin" resizable="false">
    <div class="login-content">
        <div class="ui-g">
            <div class="ui-g-12">
                <span class="ui-float-label">
                    <input pInputText id="float-input-id" class="login-input" type="text" size="30" [(ngModel)]="userid"> 
                    <label for="float-input-id">Kumoricon ID</label>
                </span>
            </div>
            <div class="ui-g-12" *ngIf="displayName">
                <span class="ui-float-label">
                    <input pInputText id="float-input-name" class="login-input" type="text" size="30" [(ngModel)]="name"> 
                    <label for="float-input-name">Your Name</label>
                </span>
            </div>
            <div class="ui-g-12 btn-row">
                <p-progressSpinner [ngClass]="{'hidden-loading': !loading}"></p-progressSpinner>
                <span *ngIf="!displayName">
                    <button pButton type="button" label="Login!" (click)="loginWithId()"></button>
                </span>
                <span *ngIf="displayName">
                    <button pButton type="button" label="Register!" (click)="register()"></button>
                </span>
            </div>
        </div>
    </div>
</p-dialog>



<div class="text">
    <div class="title">
        RPG Registration
    </div>

    <div class="rpg-images">
        <div class="img">
            D&D
        </div>
        <div class="img">
            Shadowrun
        </div>
        
        <div class="img">
            Pathfinder
        </div>
        
        <div class="img">
            Starfinder
        </div>
        <div class="img">
            DCC
        </div>
    </div>

    <div class="description">
        Use this tablet to view and register for RPGs!
    </div>
</div>

<div class="main-btn-box">
    <div class="main-btn">
        <button pButton type="button" label="Get Started!" (click)="showLogin()"></button>
    </div>
</div>
