.clickable {
    cursor: pointer;
}
.game-block {
    border: 1px solid;
    border-radius: 2px;
    box-shadow: 2px 10px 8px #888888;
    margin-top: 17px;
    margin-right: 9px;
}

.line-label {
    text-align: right;
}

.system-img {
    max-height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    opacity: 0.25;
}

.background-image {
    display: inline-block;
}

.body-contents {
    display: inline-block;
}
